@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@300&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Manrope', sans-serif;
  color: rgb(92, 92, 92);
  margin-bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 11;
}

.list {
  position: fixed;
  left: -400px;
  background-color: green;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.list.active {
  left: 0;
  top: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  z-index: 0;
  padding: 1.3rem 0 0 0;
}

.list.active li {
  list-style: none;
  font-family: lobster, sans-serif;
  font-size: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s;
}

.list.active li:hover {
  background-color: rgb(93, 227, 232);
  color: white;
  overflow: hidden;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: lobster, sans-serif;
  padding-top: 20vh;
  font-size: 50px;
}

h2 {
  color: rgb(33, 33, 33);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: lobster, sans-serif;
  font-size: 50px;
  padding: 10vh 0 0 0;
  margin: 0;
  text-align: center;
}

.dropbtn {
  position: fixed;
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  gap: 5px;
  z-index: 1;
}

.dropbtn__icon1 {
  width: 40px;
  height: 8px;
  background-color: rgb(93, 227, 232);
  border-radius: 5px;
  transition: 0.3s;
}

.dropbtn__icon2 {
  width: 40px;
  height: 8px;
  background-color: rgb(93, 227, 232);
  border-radius: 5px;
  transition: 0.3s;
}

.dropbtn__icon1.active {
  background-color: black;
  transform: translateY(6px) rotate(45deg);
}

.dropbtn__icon2.active {
  background-color: black;
  transform: translateY(-7px) rotate(-45deg);
}

.logo {
  width: 250px;
  padding: 30px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    background-size: 300px;
  }

  .list.active li {
    padding: 0 20px;
  }

  .logo {
    padding: 10px;
    width: 200px;
  }

  .icons {
    gap: 10px;
  }
}

@media (max-height: 700px) {
  .menu-footer {
    display: none;
  }
}
