.classes-section {
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

.swiper {
  position: relative;
  width: 80%;
  margin: 10px;
}

.swiper-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classe-img {
  max-width: 200px;
  height: 200px;
  background-size: cover;
  transition: transform 0.3s ease;
}

.classe-img:hover {
  transform: scale(1.1);
}

.details {
  z-index: 3;
  text-align: center;
}

.circle {
  display: flex;
  justify-content: center;
  background-color: gray;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.swiper-pagination {
  width: 100px;
  height: 50px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.next {
  background-color: rgb(93, 227, 232);
  padding: 10px 20px 20px 40px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 45%;
  right: 0;
  z-index: 10;
}

.prev {
  background-color: rgb(93, 227, 232);
  padding: 10px 40px 20px 20px;
  border-radius: 0 50px 50px 0;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 45%;
  left: 0;
  z-index: 10;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 195, 195);
  padding: 22px 0;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}

.boder-radius {
  width: 20px;
  height: 20px;
}

.square::before,
.square::after {
  content: '';
  position: absolute;
  background-color: rgb(195, 195, 195);
  width: 40px;
  height: 40px;
  right: 0;
  top: 244px;
}

.square::after {
  border-radius: 0 25px 0 0;
  background-color: white;
  padding-left: 2px;
}

.reservation-slide {
  background-color: white;
  border-radius: 25px;
  border: none;
  margin: 5px 0;
}

.points {
  font-size: 20px;
  font-weight: 900;
}

.circle-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 30px;
  filter: invert(70%);
}

.circle-icon {
  width: 40px;
}

.classes-tittle {
  margin-bottom: 50px;
}

.delete-btn {
  border-radius: 28px;
  color: #2a2727;
  font-size: 13px;
  margin: 10px 0 35px 0;
  background: #f4f4f4;
  padding: 10px 37px 10px 37px;
  text-decoration: none;
  border: 1px solid #dce7ed;
  box-shadow: rgba(116, 114, 114, 0.2) 0 12px 38px 5px, rgba(123, 113, 113, 0.1) 0 0 4px 5px, rgba(215, 213, 213, 0.05) 0 0 0 1px inset;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: rgb(124, 44, 44);
  color: #fbfbfb;
  font-weight: bolder;
  text-decoration: none;
}

@media (max-width: 913px) {
  .prev,
  .next {
    display: none;
  }
}