.dropdown {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #50cb45;
  align-items: start;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: start;
}

.dropdown ul li ,a , button {
  padding: 5px;
  margin:  5px 3px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  background-color: #50cb45;
  color: white;
}

.icons {
  display: flex;
}

.logo {
  width: 25px;
  margin: 8px;

}

.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}