.add-reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.8);
}

.add-reservation-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 7vh 0;
}

.add-reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputs-fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.form-group {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.input-class-name,
.input-reservation-date,
.input-reservation-days {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0.7); /* Input background color with transparency */
}

.input-class-name:focus,
.input-reservation-date:focus,
.input-reservation-days:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-reservation-button {
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-reservation-button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.found-class-data {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #4caf50; /* Green border */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.found-class-data h3 {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50; /* Green text color */
}

.found-class-data p {
  margin: 10px 0;
  font-size: 18px;
  color: #333; /* Text color */
}

.error {
  color: red;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .add-reservation-title {
    font-size: 40px;
  }

  .add-reservation-form {
    width: 90%;
  }

  .inputs-fields {
    flex-direction: column;
  }
}
